<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8490686C1D9A0F5100485DB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849068851D9A0F5100485DB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849068901D9A0F5100485DB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
